{% extends 'base.html' %}
{% load static %}

{% block title %}Moje stránka{% endblock %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'images/background.png' %}");
        background-size: cover; /* Ujisti se, že pozadí pokrývá celou plochu */
        background-position: center; /* Ujisti se, že pozadí je na středu */
    }
</style>

<nav class="navbar">
    <a href="#" class="nav-link">Domů</a>
    <a href="#" class="nav-link">O nás</a>
    <a href="#" class="nav-link">Služby</a>
    <a href="#" class="nav-link">Kontakt</a>
</nav>

<div class="content text-center">
    <h1>Vítejte na mé stránce!</h1>
    <p>Toto je příklad obsahu.</p>

    <!-- Přidání hodin a data -->
    <div id="clock" class="text-white" style="font-size: 2rem;"></div>
    <div id="date" class="text-white" style="font-size: 1.5rem;"></div>
</div>

<div class="footer">
    <div class="icon-container">
        <img src="{% static 'images/guarantee.png' %}" alt="Záruka" class="icon">
        <img src="{% static 'images/shipping.png' %}" alt="Doprava" class="icon">
        <img src="{% static 'images/warranty.png' %}" alt="Záruka" class="icon">
        <img src="{% static 'images/free_shipping.png' %}" al