{% extends "base.html" %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

   <div class="row mb-3">
      <label for="{{ form.brand.id_for_label }}" class="col-sm-2 col-form-label">Značka:</label>
      <div class="col-sm-10">
        {{ form.brand.errors }}
        {{ form.brand }}
          <a href="{% url 'brand_create' %}" class="btn btn-info btn-sm">Přidat</a>
          <a href="{% url 'brand_delete' %}" class="btn btn-danger btn-sm">Smazat</a>
      </div>
    </div>
  
    <div class="row mb-3">
      <label for="{{ form.brand_model.id_for_label }}" class="col-sm-2 col-form-label">Model:</label>
      <div class="col-sm-10">
        {{ form.brand_model.errors }}
        {{ form.brand_model }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.tv_released_year.id_for_label }}" class="col-sm-2 col-form-label">Modelový rok:</label>
      <div class="col-sm-10">
        {{ form.tv_released_year.errors }}
        {{ form.tv_released_year }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.tv_screen_size.id_for_label }}" class="col-sm-2 col-form-label">Velikost obrazovky:</label>
      <div class="col-sm-10">
        {{ form.tv_screen_size.errors }}
        {{ form.tv_screen_size }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.smart_tv.id_for_label }}" class="col-sm-2 col-form-label">Chytrá televize:</label>
      <div class="col-sm-10">
        {{ form.smart_tv.errors }}
        {{ form.smart_tv }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.refresh_rate.id_for_label }}" class="col-sm-2 col-form-label">Obnovovací frekvence:</label>
      <div class="col-sm-10">
        {{ form.refresh_rate.errors }}
        {{ form.refresh_rate }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.display_technology.id_for_label }}" class="col-sm-2 col-form-label">Technologie:</label>
      <div class="col-sm-10">
        {{ form.display_technology.errors }}
        {{ form.display_technology }}
        <a href="{% url 'technology_create' %}" class="btn btn-info btn-sm">Přidat</a>
        <a href="{% url 'technology_delete' %}" class="btn btn-danger btn-sm">Smazat</a>
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.display_resolution.id_for_label }}" class="col-sm-2 col-form-label">Rozlišení displeje:</label>
      <div class="col-sm-10">
        {{ form.display_resolution.errors }}
        {{ form.display_resolution }}
        <a href="{% url 'resolution_create' %}" class="btn btn-info btn-sm">Přidat</a>
        <a href="{% url 'resolution_delete' %}" class="btn btn-danger btn-sm">Smazat</a>
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.operation_system.id_for_label }}" class="col-sm-2 col-form-label">Operační systém:</label>
      <div class="col-sm-10">
        {{ form.operation_system.errors }}
        {{ form.operation_system }}
        <a href="{% url 'system_create' %}" class="btn btn-info btn-sm">Přidat</a>
        <a href="{% url 'system_delete' %}" class="btn btn-danger btn-sm">Smazat</a> 
      </div>
    </div>
      
      <div class="row mb-3">
      <label for="{{ form.image.id_for_label }}" class="col-sm-2 col-form-label">Obrázek:</label>
      <div class="col-sm-10">
        {{ form.image.errors }}
        {{ form.image }}
      </div>
    </div>
      
      <div class="row mb-3">
      <label for="{{ form.price.id_for_label }}" class="col-sm-2 col-form-label">Cena:</label>
      <div class="col-sm-10">
        {{ form.price.errors }}
        {{ form.price }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Popis:</label>
      <div class="col-sm-10">
        {{ form.description.errors }}
        {{ form.description }}
      </div>
    </div>

    <input type="submit" value="Potvrdit" class="btn btn-success">
    {% if television.pk %}
      <a href="{% url 'tv_detail' television.pk %}" class="btn btn-secondary">Zpět</a>
    {% else %}
      <a href="{% url 'tv_list' %}" class="btn btn-secondary">Zpět</a>
    {% endif %}
  </form>
{% endblock %}
