{% extends 'base.html' %}

{% block content %}
    <h2>Objednávka </h2>
        <div>
            <span style="font-weight: bold;">ID objednávky:</span> "{{ order.order_id }}"
        </div>
        <div>
            <span style="font-weight: bold;">Datum:</span> {{ order.order_date }}
        </div>
        <div>
            <span style="font-weight: bold;">Status:</span> {{ order.status }}
        </div>
        <div>
            <span style="font-weight: bold;">Celková cena objednávky:</span> {{ order.price|floatformat:0 }},- Kč
        </div>
        <div>
            <span style="font-weight: bold;">Zboží v objednávce:</span>
                <ul>
                    {% for item in order.items.all %}
                        <li>{{ item.television }} (Cena za 1ks: {{ item.television.price|floatformat:0 }} Kč) - Počet: {{ item.quantity }} </li>
                    {% endfor %}
                </ul>
        </div>
    <a href="{% url 'order_list' %}" class="btn btn-outline-secondary">Zpět</a>
    <a href="{% url 'order_pdf' order.order_id %}" class="btn btn-outline-info">PDF</a>
    {% if user.is_superuser %}
                <a href="{% url 'order_delete' order.order_id  %}" class="btn btn-outline-danger">Smazat</a>
            {% endif %}
{% endblock %}
